/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/
.rspec_status
/docs/_site/
/docs/.jekyll-cache/
/docs/.jekyll-metadata
/docs/Gemfile.lock
/docs/vendor/
/TODO.impl/
